<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code To Career Navigator</title>
    <link rel="stylesheet" href="indexstyles.css">
</head>
<body>
    <header>
        <img src="images/logo.png" alt="Code To Career Logo" class="logo">
        <nav class="menu">
            <a href="index.html"><b>Home</b></a>
            <a href="about_us.html">About Us</a>
            <a href="coding_challenge.html">Coding Challenge</a>
            <a href="admin_dashboard.html">Admin</a>
        </nav>
    </header>

    <main>
        <h1>Code To Career Navigator</h1>
        <div class="auth-buttons">
            <a href="signup.html" class="btn">SIGN UP</a>
            <a href="login.html" class="btn">LOGIN</a>
        </div>
    </main>

    <footer>
        <h2>Code your way to a tech career.<br>Join us today!</h2>
    </footer>
    <script src="redirect.js"></script>
</body>
</html>